# SPDX-FileCopyrightText: 2026 Artur Lissin, Leibniz Institute DSMZ-German Collection of Microorganisms and Cell Cultures GmbH
#
# SPDX-License-Identifier: CC0-1.0

*

!/strinf

!/bin
!/configs
!/extra
!/assets

!Makefile

!README.md
!LICENSE

!.env
!package.json
!bun.lock