version: "3"

rpc:
  listen: tcp://127.0.0.1:6001

server:
  command: "php $SERVER_RR_PHP"

http:
  address: 0.0.0.0:$BACKEND_STAGE_PORT
  middleware:
    - gzip   
  pool:
    num_workers: 4 

  gzip:
    level: 6
    min_length: 1024
    content_types:
      - "application/json"

jobs:
  consume: [ "matomo" ]         
  pool:
    num_workers: 2
  pipelines:
    matomo:
      driver: memory            
      config:
        priority: 10  
        prefetch: 1000  

logs:
  encoding: console 
  level: error 
  mode: "production"
