rapi-doc::part(section-main-content) {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    min-width: 500px;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100% !important;
}

rapi-doc::part(section-operation) {
    margin-bottom: 2rem;
}

rapi-doc::part(section-navbar) {
    height: auto !important;
}
