/*
 * SPDX-FileCopyrightText: 2026 Artur Lissin, Leibniz Institute DSMZ-German Collection of Microorganisms and Cell Cultures GmbH
 *
 * SPDX-License-Identifier: MIT
 */

.err {
    text-align: center;
}

.err h1 {
    font-size: calc(12px + 20vw);
}

.err h2 {
    font-size: calc(12px + 3vw);
}

.err .info {
    font-size: calc(12px + 2vw);
}
