.center {
    align-items: center;
    justify-content: center;
    display: flex;
}

.ph2 {
    font-size: 2em !important;
    position: relative;
    float: left;
    top: 1rem;
}

.ph2m {
    margin-left: 1.8em !important;
}

.tc {
    margin-left: 0.3em;
}

.circle22 {
    height: 22px !important;
    width: 22px !important;
    min-width: 22px !important;
    min-height: 22px !important;
    background-color: var(--color-gray-20);
    border-radius: 50% !important;
    content: '';
}

.circle22:hover {
    border: 1px solid var(--color-gray-80) !important;
}

.stpub {
    background-color: var(--color-logo-green);
}

.stdep {
    background-color: var(--color-warm-yellow);
}

.stina {
    background-color: var(--color-warm-red);
}

.load i {
    opacity: 0;
}
