.center {
    align-items: center;
    justify-content: center;
    display: flex;
}

.ph2 {
    font-size: 2em !important;
    position: relative;
    float: left;
    top: 1rem;
}

.ph2m {
    margin-left: 1.8em !important;
}

.tc {
    margin-left: 0.3em;
}

.stpub {
    color: var(--color-logo-green);
}

.stdep {
    color: var(--color-warm-yellow);
}

.stina {
    color: var(--color-warm-red);
}

.load i {
    opacity: 0;
}
