@charset "UTF-8";

a.link::after {
    font-family: 'Phosphor' !important;
    content: '\e06c' !important;
    color: var(--primary-color) !important;
}

.footer .log {
    color: var(--color-logo-red);
}

.logo {
    margin: 0px 0px 0px 10px;
    float: inline-end;
    vertical-align: middle;
}

.logoleft {
    margin: 0px 10px 0px 0px;
    float: inline-start;
    vertical-align: middle;
}

.logoattached {
    position: absolute;
}

.linkicon {
    margin: 0px 0px 0px 10px;
    vertical-align: middle;
    cursor: pointer;
}

.cleanbutton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline;
    margin: 0;
    padding: 0;
}

.cleanbutton > button * {
    overflow: hidden;
}

.cleanbutton::before {
    display: none;
}

.linkbutton,
.linkicon {
    color: #006eb7;
}

.linkbutton:hover,
.linkicon:hover {
    color: #147abd;
    text-decoration: none;
}

.linkmain {
    color: var(--primary-color);
}

.linkmain:hover {
    color: var(--primary-color);
}

.pagenav {
    text-align: left;
    display: block;
    padding: 0.4rem 0 0.4rem 2rem;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.7);
    border-left: 2px solid rgba(0, 0, 0, 0.15);
    margin-left: 0.5rem;
}

.pagenav:hover {
    color: var(--primary-color);
    text-decoration: none;
    border-left-color: var(--primary-color);
}
