/*
 * SPDX-FileCopyrightText: 2026 Artur Lissin, Leibniz Institute DSMZ-German Collection of Microorganisms and Cell Cultures GmbH
 *
 * SPDX-License-Identifier: MIT
 */

@charset "UTF-8";

ul.bread li::before {
    font-family: 'Phosphor' !important;
    content: '\e13a' !important;
    color: 'black' !important;
}
