/*
 * SPDX-FileCopyrightText: 2026 Artur Lissin, Leibniz Institute DSMZ-German Collection of Microorganisms and Cell Cultures GmbH
 *
 * SPDX-License-Identifier: MIT
 */

.disable {
    overflow: hidden;
    height: 100%;
}

.mobile {
    overflow-x: auto;
    overflow-y: hidden;
}
