/*
 * SPDX-FileCopyrightText: 2026 Artur Lissin, Leibniz Institute DSMZ-German Collection of Microorganisms and Cell Cultures GmbH
 *
 * SPDX-License-Identifier: MIT
 */

.hover:hover {
    filter: invert(0.3);
    stroke-opacity: 0.7 !important;
}

.click {
    cursor: pointer;
    stroke-linejoin: round;
}

.click:focus,
.click:hover {
    outline: none;
}

.grid > path {
    stroke-width: 0;
}

.mul {
    mix-blend-mode: 'multiply';
}
