/*
 * SPDX-FileCopyrightText: 2026 Artur Lissin, Leibniz Institute DSMZ-German Collection of Microorganisms and Cell Cultures GmbH
 *
 * SPDX-License-Identifier: MIT
 */

.tilestext .tiletext {
    display: inline-block !important;
    max-height: 2.6rem !important;
    min-height: 2.6rem !important;
    max-width: 10.4rem !important;
    min-width: 10.4rem !important;
    margin: 0 1px !important;
    padding: 0.25rem !important;
    vertical-align: bottom !important;
    line-height: 2rem !important;
}

span.title {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    color: #006eb7;
}

span.title:hover,
span.title:focus {
    color: #147abd;
    text-decoration: underline;
}

.pub {
    margin-left: 0px;
    margin-right: 0px;
}

.cursor {
    cursor: default;
}

.tileslogos .tileslogo {
    min-width: 22rem;
    max-width: 22rem;
    overflow: hidden;
}

.tileslogo img {
    max-height: 10rem;
    width: auto;
    max-width: 20rem;
}

.tilesmark {
    border-left-width: 5px !important;
    border-left-color: var(--danger-color) !important;
}
